<tr>
  <td><%= kiosk.unique_id %></td>
  <td><%= kiosk.beacon_uuid %></td>
  <td><%= kiosk.store.id %></td>
  <td><%= kiosk.vendor.name %></td>
  <td><%= link_to 'Destroy', kiosk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
