<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 left-fixed">
  <div class="row vendor-info">
    <%= render 'partials/avatar', user: current_vendor %>
    <h5><b><%= current_vendor.name %></b></h5>
    <h6><%= current_vendor.email %></h6>
    <ul class="actions">
      <li class="<%= (action == 'dashboard') ? 'active' : ''%>">
        <%= link_to "<i class='ion-ios-speedometer'></i> Dashboard".html_safe, root_path %>
      </li>
      <li><a href="#"><i class="ion-ios-pie"></i> Analytics</a></li>
      <li class="<%= (action == 'stores') ? 'active' : ''%>">
        <%= link_to "<i class='ion-bag'></i> Manage Stores".html_safe, stores_path %>
      </li>
      <li class="<%= (action == 'kiosks') ? 'active' : ''%>">
        <%= link_to "<i class='ion-ios-monitor'></i> Manage Kiosks".html_safe, kiosks_path %>
      </li>
      <li class="<%= (action == 'items') ? 'active' : ''%>">
        <%= link_to "<i class='ion-ios-albums'></i> Manage Items".html_safe, items_path %>
      </li>
      <li class="<%= (action == 'users') ? 'active' : ''%>">
        <%= link_to "<i class='ion-ios-people'></i> Manage Users".html_safe, users_path %>
      </li>
    </ul>
  </div>
</div>
