<%= form_tag kiosk_sessions_path do %>
  <div class="form-group">
    <%= label_tag :unique_id %><br />
    <%= text_field_tag :unique_id, nil, class: 'form-control', autofocus: true %>
  </div>
  <div class="form-group">
    <%= label_tag :password %><br />
    <%= password_field_tag :password, nil, class: 'form-control', autocomplete: 'off' %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Log in', class: 'btn btn-primary' %>
  </div>
<% end %>
