<%= form_tag items_path, remote:true do %>
  <div class="form-group">
    <%= label_tag :avatar %><br>
    <%= file_field_tag 'item[avatar]', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :name %><br>
    <%= text_field_tag 'item[name]', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :price %><br>
    <%= text_field_tag 'item[price]', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :description %><br>
    <%= text_field_tag 'item[description]', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :number_of_items %><br>
    <%= text_field_tag 'item[number_of_items]', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= submit_tag :create, class: 'btn btn-primary' %>
  </div>
<% end %>
