<!DOCTYPE html>
<html>
  <head>
    <title>SmartKiosk</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        Twilio.Device.setup("<%= @token %>");
      });
      
      function call() {
        Twilio.Device.connect({id: 123});
      }
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'partials/navbar' %>
    <% unless notice.blank? %>
      <div class="alert alert-info alert-dismissable alert-fixed">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>
    <% unless alert.blank? %>
      <div class="alert alert-danger alert-dismissable alert-fixed">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>
    <div id="messages">
      <%= render 'partials/global_messages', message: nil %>
    </div>
    <%= yield %>
  </body>
</html>
